/*-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -*\
	#HEADINGS
\*-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -*/
h1 {
	color: #333;
	margin: 0 0 1em;


	& > span {
		//border-bottom: 3px solid #4b4b4b;
		//padding-bottom: .25em;
	}
}

h2 {
	margin-bottom: .25em;
	margin-top: 0;
}

h3,
h4 {
	color: #333;
	margin-bottom: 0;

	& + p {
		margin-top: 0;
	}
}
