/*-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -*\
	#CODE-INPUT
\*-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -*/
#code-input {
	padding: 1em 0;
	position: relative;

	.drop-target {
		border: 3px dashed $color-border-light; // lightgrey;
		padding: 1.5em 0;
		text-align: center;
		transition: background-color .3s ease-out, border-color .3s ease-out;

		&:hover,
		&.ondrag {
			background-color: $color-base-light;
			border-color: $color-border;
			color: #2b2b2;
			text-decoration: underline;
		}

		& + label {
			margin-top: 1em;
		}
	}

	button {
		display: block;
		margin-left: auto;
		margin-right: auto;
		min-width: 10em;
	}
}
