/*-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -*\
	REPORTER
\*-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -*/
#widget-report {
	@extend .widget-container;

	header {
		h2,
		button {
			float: left;
		}

		button {
			line-height: 2.4;
			margin-left: 1em;
		}

		&:after {
			clear: both;
			content: '';
			display: table;
		}
	}
}
