/*-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -*\
	#REPORT-SECTION
\*-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -*/
@keyframes flash {
	0%   { background-color: transparent; color: inherit;}
	50%  { background-color: $color-border; color: #000; }
	100% { background-color: transparent; color: inherit; }
}

.report-section {
	padding: 1em 0 2em;

	h3 {
		a {
			color: #002B36;
			position: relative;
			text-decoration: none;

			&:after {
				@include icon($icon-chain);
				font-size: .75em;
				margin-left: .5em;
			}
		}

		& + p {
			margin-top: .5em;
		}
	}

	.inline-code {
		background-color: lightyellow;
		padding: 0 .25em;
	}

	&:nth-child(even) {
		background-color: rgba(0,0,0,.05);  // $color-base-light; //#e3e7e7; //rgba(#93A1A1, .25);
		border-color: $color-border;
		border-style: solid;
		border-width: 1px 0;
		// color: #4b4b4b;
		margin-left: -2em;
		margin-right: -2em;
		padding-left: 2em;
		padding-right: 2em;
	}

	& + & {
		margin-top: 0em;
	}
}

.report-notes {
	p {
		margin: 0;

		& + p {
			margin-top: 1em;
		}
	}

	h4 {
		color: #000608;

		& + ol,
		& + p {
			margin-top: 0;
		}
	}

	ol {
		margin: 0;
	}

	li:target {
		animation: flash 1s;
	}
}

.support-section {
	margin-left: 1em;

	h4 {
		color: #000608;
		margin-bottom: .25em;
	}

	ol {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		//justify-content: space-between;
		margin: 0;
		padding: 0;

		&:after {
			clear: both;
			content: '';
			display: table;
		}
	}

	li {
		background-color: #ccc;
		//border: 1px solid #ccc;
		float: left;
		font-size: .825em;
		margin-bottom: .5em;
		margin-right: .5em;
		min-width: 16em;
		padding: .25em .5em;
		position: relative;
	}

	.disabled {
		border-right: 2em solid dimgrey;
	}

	.prefix {
		border-right: 2em solid darkblue;
	}

	.disabled:after,
	.prefix:after {
		bottom: 0;
		color: #fff;
		display: block;
		height: 1em;
		line-height: 1;
		margin: auto 0;
		position: absolute;
		right: -2em;
		text-align: center;
		top: 0;
		width: 2em;
	}

	.disabled:after {
		content: 'D';
	}

	.prefix:after {
		content: 'P';
	}

	sup {
		line-height: 1;
		margin-left: .5em;
	}
}
