/*-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -*\
	REPORTER
\*-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -*/
#widget-report {
	color: #fff;
	padding: 1em 0;

	h2,
	h3 {
		color: inherit;
	}
}
