# Folders to ignore
.DS_Store
.cache
.hg
.svn
.CVS
.idea
node_modules
Thumbs.db
_SpecRunner.html
npm-debug.log
.sass-cache
.grunt
_site
bin
src/static/site/css
js.min
!node_modules/dyson-generators/index.js
dist/static/site/sass
out
dist
src/files/OverUnder/index.html
src/files/OverUnder/static/css/site.css
src/files/OverUnder/static/fonts/coffeetin_initials-webfont.eot
src/files/OverUnder/static/fonts/coffeetin_initials-webfont.svg
src/files/OverUnder/static/fonts/coffeetin_initials-webfont.ttf
src/files/OverUnder/static/fonts/coffeetin_initials-webfont.woff
src/files/OverUnder/static/fonts/icomoon.eot
src/files/OverUnder/static/fonts/icomoon.svg
src/files/OverUnder/static/fonts/icomoon.ttf
src/files/OverUnder/static/fonts/icomoon.woff
src/files/OverUnder/static/fonts/jfringmaster.eot
src/files/OverUnder/static/fonts/jfringmaster.svg
src/files/OverUnder/static/fonts/jfringmaster.ttf
src/files/OverUnder/static/fonts/jfringmaster.woff
src/files/OverUnder/static/img/felt.jpg
src/files/OverUnder/static/js/game.js
src/files/OverUnder/static/js/vendor/require.js
