<footer class="site-footer">
	<div class="size-constraint two-column">
		<div class="column">
			<h2>Data Sources</h2>
			<p>
				Browser compatibility information for ECMAScript5 methods is provided by <a href="http://kangax.github.io/compat-table/es5/">Kangax</a>. All other browser compatibility data and global usage data is provided by <a href="http://caniuse.com">Can I Use</a>.
			</p>
		</div>
		<div class="column">
			<h2>Contact</h2>
			<p>
				This website is created by <a href="https://twitter.com/tbusser">@tbusser</a>.
			</p>
		</div>
	</div>
</footer>
