/*-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -*\
	#RESET
\*-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -*/
* {
	box-sizing: border-box;
}

a {
	border-bottom: 1px solid;
	color: inherit;
	text-decoration: none;
}
