/*-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -*\
	#ABOUT
\*-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -*/
.api-list {
	column-count: 3;
	list-style-position: inside;
	margin: 0;
}

.medium-paragraph {
	max-width: 75%;
}
