/*-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -*\
	#NOTIFICATIONS
\*-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -*/
.notifications {
	border: 1px solid $color-border-light;
	font: 14px/1.2 $font-code;
	list-style: none;
	padding: .5em;
	margin: 0;
	min-height: 5em;
}
