/*-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -*\
	#MAIN
\*-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -*/
body {
	background-color: #fff; // $color-base-light;
	color: #4b4b4b;
	font: 16px/1.5 Arial, sans-serif;
	margin: 0;
	padding-bottom: 4.5em;
	position: relative;
}

main {
	//margin: 4em auto 0;
	//max-width: 80em;
}

footer {
	bottom: 1.5em;
	left: 0;
	position: absolute;
	right: 0;
}

.container-light {
	background-color: $color-background-light;
}
.container-medium {
	background-color: $color-background-medium;
}
.container-base {
	background-color: $color-accent-blue; //$color-base-light;
}

/*
%container {
	background-color: #fff;
	padding: 2em;
}

.bottom-container,
.middle-container,
.top-container {
	@extend %container;
}

.bottom-container {
	border-color: $color-border;
	border-radius: 0 0 1em 1em;
	border-style: solid;
	border-width: .5em 1px 1px;
	box-shadow: 0 .5em 1em rgba(0,0,0,.2), .5em .5em 1em rgba(0,0,0,.2), -.5em .5em 1em rgba(0,0,0,.2);
}

.middle-container {
	border-color: $color-border;
	border-style: solid;
	border-width: .5em 1px;
	box-shadow: .5em 0 1em rgba(0,0,0,.2), -.5em 0 1em rgba(0,0,0,.2);
	position: relative;

	& + .bottom-container {
		margin-top: 1em;
	}
}


.top-container {
	border-color: $color-border;
	border-radius: 1em 1em 0 0;
	border-style: solid;
	border-width: 1px 1px .5em;
	box-shadow: 0 -.5em 1em rgba(0,0,0,.2), .5em -.5em 1em rgba(0,0,0,.2), -.5em -.5em 1em rgba(0,0,0,.2);

	& + .middle-container {
		margin-top: 1em;
	}
}*/

.size-constraint {
	margin-left: auto;
	margin-right: auto;
	max-width: $size-max-width;
}
