/*-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -*\
	#FONT-FACE
\*-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -*/
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-ezxqxq');
	src:url('../fonts/icomoon.eot?#iefix-ezxqxq') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-ezxqxq') format('woff'),
		url('../fonts/icomoon.ttf?-ezxqxq') format('truetype'),
		url('../fonts/icomoon.svg?-ezxqxq#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
