/*-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -*\
	#HEADER
\*-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -*/
.site-header {
	background-color: #fff;
	box-shadow: 0 0 5px #000;
	position: relative;
	z-index: 1;

	.size-constraint {
		position: relative;
	}

	.large-text {
		display: block;
		float: left;
		font-size: 1.75em;
		line-height: 1.25;
		text-transform: uppercase;
	}

	.small-container {
		display: inline-block;
		float: left;
		font-size: .825em;
		line-height: 1;
		margin-left: .5em;
		max-width: 10em;
		padding-top: 8px;
	}

	h1 {
		font-family: $font-code;
		margin: 0;
		padding: .25em 0;

		&:after {
			clear: both;
			content: '';
			display: table;
		}
	}
	nav {
		bottom: 1em;
		position: absolute;
		right: 1em;

		a {
			&:hover {
				border-bottom: 1px solid $color-attention;
			}
		}
	}

	.active {
		border-bottom: 3px solid $color-attention;
	}
}
